
	#integ-status
	{
		display: grid;
		grid-template-columns: 10% 90%;
		grid-gap: 1rem;
		background-color: #F5F5F5;
		margin-bottom: 1rem;
		padding: 1rem;
		border-radius: 1rem;
		line-height: 180%;
	}

	#used-by-pages
	{
		background-color: #F5F5F5;
		margin-top: 2rem;
		padding: 1rem;
		border-radius: 1rem;
	}

	#account-name
	{
		background-color: #F5F5F5;
		margin-top: 1rem;
		padding: 1rem;
		border-radius: 1rem;
	}

