/* Custom checkbox container */
.checkbox {
  border: 2px solid #7356c0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  position: relative;
  border-radius: 5px;
  pointer-events: none;

  input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    pointer-events: all;
    z-index: 100;
  }

  > div {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(202, 202, 202);
    z-index: 100;
    pointer-events: none;
    background-color: white;

    &::after {
      content: "";
      width: 2px;
      height: 7px;
      background: #7356c0;;
      position: absolute;
      bottom: 4px;
      left: 4px;
      transform: rotate(-30deg);
      display: none;
      z-index: 101;

    }

    &::before {
      content: "";
      width: 12px;
      height: 2px;
      background: #7356c0;;
      position: absolute;
      left: 4px;
      top: 8px;
      transform: rotate(-50deg);
      display: none;
      z-index: 101;

    }
  }

  input:checked + div {
    background: #dbd2f0;
    animation-name: input-animate;
    animation-duration: 0.7s;

    &::before {
      transform: scale(1) rotate(-45deg);
      animation-name: input-check;
      animation-duration: 0.2s;
      animation-delay: 0.3s;
      display: block;
    }

    &::after{
      display: block;
    }
  }

  label {
    color: #2e3a59;
    /* Subtitle/S2-M */
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.021px;
    white-space: nowrap;
    position: absolute;
    left: 30px;
    top: -2px;
    pointer-events: all;
    user-select: none;
  }
}

/* Animation keyframes */
@keyframes input-animate {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3, 0.7);
  }
  55% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2, 0.8);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1, 0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes input-check {
  0% {
    transform: scale(0) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}
