
	.message-content {
		max-width: 200px;
		overflow-y: auto;
		word-wrap: break-word;
	}

	sl-drawer::part(form-control-input) {
		width: 250px;
	}

	sl-drawer::part(overlay) {
		display: none;
	}

	@media (min-width: 640px) {
		sl-drawer::part(panel) {
			height: 98%;
			border-radius: 0.75rem;
			margin: 0.5rem;
		}
	}

	@media (max-width: 640px) {
		sl-drawer::part(panel) {
			width: 90% !important;
		}

		sl-drawer::part(overlay) {
			display: block;
		}
	}

	#tooltip-content::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		border-width: 5px;
		border-style: solid;
		border-color: black transparent transparent transparent;
	}






	/* 
		Conference
	*/

	#conference {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}



	/* 
		Main Video
	*/

	#main-video,
	#main-no-video {
		background-color: #000;
		height: 100vh;
		width: 100vw;
		color: #FFF;
	}

	#main-no-video {
		position: absolute;
		top: 0px;
		left: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #000;
		width: 100%;
		height: 100%;
	}

	#main-video video {
		width: 100%;
		height: 100%;
		/* object-fit: cover; */
	}

	#main-video video.local {
		transform: scaleX(-1);
	}


	/* 
		Participants
	*/

	#participants {
		position: absolute;
		top: 10px;
		right: 10px;
		height: 350px;
		width: 100px;
	}

	#participants .participant {
		position: relative;
		background-color: gray;
		height: 100px;
		width: 100px;
		margin-bottom: 10px;
		border-radius: 5px;
		overflow: hidden;
	}

	#participants .participant video {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#participants .participant video.local {
		transform: scaleX(-1);
	}

	#participants .participant-no-video {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		background-color: #F9F9F9;
		z-index: 5;
		top: 0;
		overflow: hidden;
	}

	#participants .participant .participant-name {
		position: absolute;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		display: flex;
		z-index: 10;
	}

	#participants .participant .participant-status {
		position: absolute;
		bottom: 3px;
		left: 3px;
	}

	#participants .participant.selected {
		border: solid 1px #FFF;
	}


	/* 
		Controls
	*/

	#controls {
		position: absolute;
		z-index: 100;
		background-color: #000;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	

	#controls button {
		display: inline-block;
		margin: 0px 10px 0px 10px;
		border-radius: 5px;
		width: 60px;
		height: 35px;
		color: #FFF;
	}

	#controls button svg {
		margin-top: -3px;
	}

	@media (max-width: 640px) {
		#controls {
			display: flex;
			justify-content: space-evenly;
		}
		#controls button {
			width: 50px;
			margin: 0;
		}
	}

	/* 
		Audio Only view 
	*/

	#audio-only-call {
		position: absolute;
		top: 0px;
		height: 100vh;
		width: 100vw;
		color: #FFF;
		display: flex;
		justify-content: center;
		background-image: linear-gradient(#000000, #293E66);
	}

	.audio-call-container {
		width: 20%;
		text-align: center;
		color: white;
		display: flex;
		flex-direction: column;
	}
	.audio-call-container.blur {
		filter: blur(4px);
	}
	.audio-call-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10vh;
	}
	.audio-call-header img {
		border-radius: 50%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.audio-call-controls {
		display: flex;
		margin-bottom: 40px;
		margin-top: auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		width: 70px;
		border-radius: 50%;
		background-color: #414e68;
	}
	.icon-container.active, .icon-container.end-session {
		background-color: white;
	}

	@media (max-width: 640px){
		.audio-call-container { width: 100%; }
		.audio-call-controls { margin-bottom: 15vh; }
	}




	/* 
		Conference
	*/

	#conference {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}


	/* 
		Main Video
	*/

	#main-video,
	#main-no-video {
		background-color: #000;
		height: 100vh;
		width: 100vw;
		color: #FFF;
	}

	#main-no-video {
		position: absolute;
		top: 0px;
		left: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #000;
		width: 100%;
		height: 100%;
	}

	#main-video video {
		width: 100%;
		height: 100%;
		/* object-fit: cover; */
	}

	#main-video video.local {
		transform: scaleX(-1);
	}


	/* 
		Participants
	*/

	#participants {
		position: absolute;
		top: 10px;
		right: 10px;
		height: 350px;
		width: 100px;
	}

	#participants .participant {
		position: relative;
		background-color: gray;
		height: 100px;
		width: 100px;
		margin-bottom: 10px;
		border-radius: 5px;
		overflow: hidden;
	}

	#participants .participant video {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#participants .participant video.local {
		transform: scaleX(-1);
	}

	#participants .participant-no-video {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		background-color: #F9F9F9;
		z-index: 5;
		top: 0;
		overflow: hidden;
	}

	#participants .participant .participant-name {
		position: absolute;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		display: flex;
		z-index: 10;
	}

	#participants .participant .participant-status {
		position: absolute;
		bottom: 3px;
		left: 3px;
	}

	#participants .participant.selected {
		border: solid 1px #FFF;
	}


	/* 
		Controls
	*/

	#controls {
		position: absolute;
		z-index: 100;
		background-color: #000;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#controls button {
		display: inline-block;
		margin: 0px 10px 0px 10px;
		border-radius: 5px;
		width: 60px;
		height: 35px;
		color: #FFF;
	}

	#controls button svg {
		margin-top: -3px;
	}

	@media (max-width: 640px) {
		#controls {
			display: flex;
			justify-content: space-evenly;
		}
		#controls button {
			width: 50px;
			margin: 0;
		}
	}

	/* 
		Audio Only view 
	*/

	#audio-only-call {
		position: absolute;
		top: 0px;
		height: 100vh;
		width: 100vw;
		color: #FFF;
		display: flex;
		justify-content: center;
		background-image: linear-gradient(#000000, #293E66);
	}

	.audio-call-container {
		width: 20%;
		text-align: center;
		color: white;
		display: flex;
		flex-direction: column;
	}
	.audio-call-container.blur {
		filter: blur(4px);
	}
	.audio-call-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10vh;
	}
	.audio-call-header img {
		border-radius: 50%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.audio-call-controls {
		display: flex;
		margin-bottom: 40px;
		margin-top: auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		width: 70px;
		border-radius: 50%;
		background-color: #414e68;
	}
	.icon-container.active, .icon-container.end-session {
		background-color: white;
	}

	@media (max-width: 640px){
		.audio-call-container { width: 100%; }
		.audio-call-controls { margin-bottom: 15vh; }
	}
