@media (min-width: 640px) {
    .sm\:h-80 {
        height: 20rem;
    }
}

.dotted-container {
    align-items: center;
    color: rgb(102, 102, 102);
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    border-width: 3px;
    border-style: dashed;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 0.5rem;
    padding: 1.5rem;
}