@import "./mixins.scss";

.about {

  &__list {
    ul {
      .border {
        width: 343px;
        height: 1px;
        flex-shrink: 0;
        background: #edf1f7;
      }
      li {
        height: 50px;

        a {
          color: #2e3a59;

          /* Subtitle/S1-M */
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */
          letter-spacing: 0.024px;
        }
      }
    }
  }
}
