@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: rgb(243 244 246);
  height: 100vh;
}

@media (max-width: 480px) {
  body {
    background: #fff;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(229, 231, 235);
  border-image: initial;
}

a {
  color: #0056ff;
}

.btn {
  --tw-text-opacity: 1;
  align-items: center;
  border-color: #0000;
  border-radius: 0.375rem;
  border-width: 1px;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246);
}

.status-dot {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
}

.status-dot.auto {
  border-color: #2ecc71;
  background-color: #fff;
}

.status-dot.online {
  border-color: #2ecc71;
  background-color: #2ecc71;
}

.status-dot.offline {
  border-color: #cccccc;
  background-color: #cccccc;
}

.status-card .title {
  font-weight: bold;
}
.status-card .subtitle {
  font-size: 13px;
  color: #999;
}

.status-card .status-offline {
  background-color: #cccccc;
}

.status-card .status.online {
  background-color: #2ecc71;
}
.status-card .status {
  position: relative;
  top: 5px;
  grid-row: 3 / 1;
  background-color: #2c3e50;
  border-radius: 14px;
  width: 14px;
  height: 14px;
}
.status-card {
  display: grid;
  grid-template-columns: 22px auto;
  grid-template-rows: auto;
  z-index: 1;
  overflow: hidden;
}

.advanced-options-label {
  --tw-text-opacity: 1;
  align-items: center;
  color: rgb(0 0 0);
  cursor: pointer;
  display: flex;
  width: max-content;

  &:hover {
    opacity: 0.5;
  }
}

//inputs selects buttons

[type="email"],
[type="number"],
[type="password"],
[type="text"],
select,
textarea {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  border-radius: 0.375rem;
  display: block;
}
[multiple],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  --tw-shadow: 0 0 #0000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;

  border-radius: 0;
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
}

[type="email"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: #a4cafe;
  box-shadow: 0 0 0 3px #a4cafe73;
  outline: none;
}
[multiple]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
select:focus,
textarea:focus {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  border-color: #2563eb;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  outline: 2px solid #0000;
  outline-offset: 2px;
}
button,
input,
optgroup,
select,
textarea {
  font-feature-settings: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

input[type="radio"] {
  border-radius: 100%;
}
input[type="checkbox"],
[type="radio"] {
  --tw-shadow: 0 0 #0000;
  appearance: none;
  background-color: rgb(255, 255, 255);
  background-origin: border-box;
  color: rgb(37, 99, 235);
  display: inline-block;
  flex-shrink: 0;
  height: 1rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  user-select: none;
  vertical-align: middle;
  width: 1rem;
  border-color: rgb(107, 114, 128);
  border-width: 1px;
  padding: 0px;
}
input[type="radio"]:checked,
[type="radio"]:focus {
  box-shadow: none;
  color: rgb(2, 132, 199);
  outline: none;
}

input[type="radio"]:checked {
  background-image: url("../public/radio.svg");
}

input[type="checkbox"]:checked,
[type="radio"]:checked {
  background-color: currentcolor;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% center;
  border-color: rgba(0, 0, 0, 0);
}

///media
///
///

.media-permission-modal .sl-dialog__close-button {
  display: none;
}

.media-permission-modal {
  --width: 50vw;
}

.media-permission-modal.ask-user-to-alow-modal {
  --width: 25vw;
}

.media-permission-modal.mobile-permissions {
  --width: 35vw;
}

.media-permission-modal .dialog-body {
  padding: 1rem;
}

.unrecognized-error::part(body) {
  padding-top: 0px;
}

@media (max-width: 480px) {
  .media-permission-modal,
  .media-permission-modal.mobile-permissions {
    --width: 90vw;
  }

  .dialog-body {
    padding: 0.75rem;
  }
}
