@import "./mixins.scss";





.page-header{

    &__header {
        @include header(fit-content, 28px, 12px)
      }
    
      &__subheader {
        color: #8f9bb3 !important;
        text-align: center;
    
        /* Subtitle/S2-M */
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;/* 142.857% */
        letter-spacing: 0.021px;
        margin-bottom: 28px;
      }
    }