@import "./auth.scss";

.restore-password {

  .back-btn {
    color: #8f9bb3;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px ;
    font-style: normal ;
    font-weight: 500 ;
    line-height: 20px ; /* 125% */
    gap: 12px;
  }

  &__resend {
    gap: 15px;
    p {
      color: #8f9bb3 !important;
      margin: 0;
      font-size: 16px !important;
    }

    button {
      color: #36f;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }
}
